extends layout/layout.pug

block content
  article#post.card
    //- todo
    #post-content.article-container!= page.content

    #post-copyright
      .post-copyright-item
        span= _p('post.copyright.author') + ": "
        a(href=`mailto:${config.email}`)= config.author
      .post-copyright-item
        span= _p('post.copyright.copyright_notice') + ": "
        a(href=url_for(theme.post_copyright.license_url))= theme.post_copyright.license
      .post-copyright-item
        span= _p('post.copyright.link') + ": "
        a(href=url_for(page.permalink))= page.permalink
    
    #post-share
      #post-share-tags
        each tag in page.tags.data
          a(href=url_for(tag.path))= tag.name
      #post-share-social
        .social-share(data-image= page.cover || theme.avatar data-sites= theme.sharejs.sites)
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/social-share.js@1.0.16/dist/css/share.min.css")
        script(src="https://cdn.jsdelivr.net/npm/social-share.js@1.0.16/dist/js/social-share.min.js")

    include partial/pagination.pug
    include partial/comment.pug
  include partial/aside.pug
