-
  const options = {
    prev_text: '<i class="fas fa-chevron-left fa-fw"></i>',
    next_text: '<i class="fas fa-chevron-right fa-fw"></i>',
    mid_size: 1,
    escape: false
  }

mixin pagination(direction)
  div(id=`pagination-${direction}`)
    a(href=url_for(page[direction].path))
      - const cover = page[direction].cover || theme.default_cover
      img.lozad(data-src=`${cover}` onerror=`onerror=null;src='${theme.lodding_bg.post_page}'`)
      span= _p(`pagination.${direction}`)
      span= page[direction].title

#pagination
  if is_post()
    if page.prev
      +pagination('prev')
    if page.next
      +pagination('next')
  else
    != paginator(options)
