//- toolbar

#toolbar(hidden)
  button#font-plus(type="button" title=_p('toolbar.plus') hidden)
    i.fas.fa-plus
  button#font-minus(type="button" title=_p('toolbar.minus') hidden)
    i.fas.fa-minus
  button#toolbar-darkmode(type="button" title=_p('toolbar.darkmode') hidden)
    i.fas.fa-adjust
  button#toolbar-config(type="button" title=_p('toolbar.config'))
    i.fas.fa-cog.fa-spin
  button#toolbar-upper(type="button" title=_p('toolbar.upper'))
    i.fas.fa-arrow-up
