include ../utils/variables.pug
include ../utils/mixins.pug

doctype html
html(lang=config.language)
  head
    //- base
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    meta(name="format-detection" content="telephone=no")
    
    //- title
    title= title

    //- information
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)
    meta(name="author" content=author)
    meta(name="copyright" content=copyright)
    
    //- favicon
    != favicon_tag(config.favicon || theme.favicon || '/favicon.ico')

    //- styles
    if theme.styles !== undefined
      if theme.styles.remote !== undefined && theme.styles.remote.length > 0
        each url in theme.styles.remote
          link(rel='stylesheet' href=url)
      if theme.styles.local !== undefined && theme.styles.local.length > 0
        each url in theme.styles.local
          link(rel='stylesheet' href=url_for(url))

    include additional-head.pug
  
  body
    //- layout
    include header.pug
    include content.pug
    include footer.pug

    //- scripts
    if theme.scripts !== undefined
      if theme.scripts.remote !== undefined && theme.scripts.remote.length > 0
        each url in theme.scripts.remote
          script(src=url)
      if theme.scripts.local !== undefined && theme.scripts.local.length > 0
        each url in theme.scripts.local
          script(src=url_for(url))
    
    include additional-js.pug
